@page
@model foci.Pages.StatisztikaModel

@{
    ViewData["Title"] = "Bajnokság állása";
}

<h1>Bajnokság állása</h1>
<table class="table">
    <thead>
        <tr>
            <th>Helyezés</th>
            <th>Csapat</th>
            <th>JM</th>
            <th>Gy</th>
            <th>D</th>
            <th>V</th>
            <th>Pont</th>
            <th>Lg</th>
            <th>Kg</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stat)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Helyezes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CsapatNev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JatszottMerkozesekSzama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nyert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dontetlen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vesztett)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontszam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LottGolok)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KapottGolok)
                </td>
            </tr>
        }
    </tbody>
</table>